.column {
    background:transparent;
    border-radius: 5px;
    /* padding: 10px;
    margin-right: 10px; */
    /* min-width: 300px; */
    width: 100%;
    max-height: 100vh;
    /* overflow-y: auto; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* border-bottom: 1px solid #e0e0e0; */
  }
  
  
.count{
    color:rgb(142, 140, 138);
    margin-left: 8px;
    font-size: 18px;
    font-weight: 300;
}

.column-header .svgs{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}