@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  color:rgba(21, 21, 21, 0.884);
  background: rgba(173, 186, 190, 0.244);
}

p {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 550;
}

/* .App {
  padding: 20px;
} */

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dropdown {
  margin-right: 10px;
}

.columns {
  display: flex;
}
